<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">

    <select id="testBoardPageNation" resultType="com.example.demo.PageNationDto">

    select count(*) listCnt from TestBoard

    </select>

    <select id="testBoardList" resultType="com.example.demo.PangDto">

   select * from(select row_number() over(order by boardNum desc)as rnum,boardNum,writer,title,content,writeDate,hit
    from
    TestBoard order by boardNum desc)
    where rnum between(#{curPage}-1)*5+1 and ((#{curPage}-1)*5+1)+5-1


    </select>



    <select id="detail" resultType="com.example.demo.PangDto">

        select * from TestBoard where boardNum=#{boardNum}

    </select>

    <delete id="delete">

        delete from TestBoard where boardNum=#{boardNum}

    </delete>

    <insert id="write">

     insert into TestBoard values(Test_SEQ.nextval,#{writer},#{title},#{content},sysdate,0)

    </insert>
    
    <update id="hit">

        update TestBoard set hit = hit+1 where boardNum=#{boardNum}

    </update>

    <update id="modify">

        update TESTBOARD set WRITER = #{writer},TITLE = #{title} , CONTENT = #{content}
        where BOARDNUM=#{boardNum}

    </update>



    <select id="searchPageNationAll" resultType="com.example.demo.PageNationDto">

    select count(*) listCnt from TESTBOARD where title like '%'||#{search}||'%' or content like '%'||#{search}||'%'

    </select>

    <select id="searchPageNationTitle" resultType="com.example.demo.PageNationDto">

    select count(*) listCnt from TESTBOARD where title like '%'||#{search}||'%'

    </select>

    <select id="searchPageNationContent" resultType="com.example.demo.PageNationDto">

    select count(*) listCnt from TESTBOARD where CONTENT like '%'||#{search}||'%'

    </select>





    <select id="searchAll" resultType="com.example.demo.PangDto">

    select * from(select row_number() over(order by boardNum desc)
    as rnum,boardNum,writer,title,content,writeDate,hit
    from TestBoard where title like '%'||#{search}||'%' or CONTENT like '%'||#{search}||'%'
    order by boardNum desc)
    where rnum between(#{curPage}-1)*5+1 and ((#{curPage}-1)*5+1)+5-1

    </select>


    <select id="searchTitle" resultType="com.example.demo.PangDto">

    select * from(select row_number() over(order by boardNum desc)
    as rnum,boardNum,writer,title,content,writeDate,hit
    from TestBoard where title like '%'||#{search}||'%'
    order by boardNum desc)
    where rnum between(#{curPage}-1)*5+1 and ((#{curPage}-1)*5+1)+5-1

    </select>


    <select id="searchContent" resultType="com.example.demo.PangDto">

    select * from(select row_number() over(order by boardNum desc)
    as rnum,boardNum,writer,title,content,writeDate,hit
    from TestBoard where Content like '%'||#{search}||'%'
    order by boardNum desc)
    where rnum between(#{curPage}-1)*5+1 and ((#{curPage}-1)*5+1)+5-1

    </select>




</mapper>